## Week 3: 3.1 Database
**by Sarthak Niwate (Intern at Chistats)**

#### Establishing a Connection With MySQL Server

In [12]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        print(connection)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
<mysql.connector.connection.MySQLConnection object at 0x00000206A548F0A0>

#### Creating a Database

In [18]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        create_db_query = "CREATE DATABASE online_movie_rating"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)

Enter username: root
Enter password: ········

#### See all the databses

In [19]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        create_db_query = "SHOW DATABASES"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
            for db in cursor:
                print(db)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('asgnm_sql2',)
('bank',)
('coding_ninjas_task',)
('complaints',)
('cricket',)
('hr',)
('in4',)
('inclass',)
('information_schema',)
('ipl',)
('laptop',)
('mini_project_2',)
('mysql',)
('online_movie_rating',)
('orders',)
('performance_schema',)
('practice_joins',)
('pythonlogin',)
('sakila',)
('sample',)
('sys',)
('th3',)
('video_games',)
('waste_calculator',)
('world',)

#### Creating Tables Using the CREATE TABLE Statement

In [20]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        
        use_database = """USE online_movie_rating"""
        
        create_movies_table_query = """
            CREATE TABLE movies(
            id INT AUTO_INCREMENT PRIMARY KEY,
            title VARCHAR(100),
            release_year YEAR(4),
            genre VARCHAR(100),
            collection_in_mil INT
            )
            """
        create_reviewers_table_query = """
            CREATE TABLE reviewers (
            id INT AUTO_INCREMENT PRIMARY KEY,
            first_name VARCHAR(100),
            last_name VARCHAR(100)
            )
            """
        create_ratings_table_query = """
            CREATE TABLE ratings (
            movie_id INT,
            reviewer_id INT,
            rating DECIMAL(2,1),
            FOREIGN KEY(movie_id) REFERENCES movies(id),
            FOREIGN KEY(reviewer_id) REFERENCES reviewers(id),
            PRIMARY KEY(movie_id, reviewer_id)
            )
            """
        show_movies_table_query = "DESCRIBE movies"
        
        alter_movies_table_query = """
            ALTER TABLE movies
            MODIFY COLUMN collection_in_mil DECIMAL(4,1)
            """
        #drop_ratings_table_query = "DROP TABLE ratings"
        
        with connection.cursor() as cursor:
            cursor.execute(use_database)
            cursor.execute(create_movies_table_query)
            cursor.execute(create_reviewers_table_query)
            cursor.execute(create_ratings_table_query)
            connection.commit()
            
            cursor.execute(show_movies_table_query)
            result1 = cursor.fetchall()
            for row in result1:
                print(row)
                
            cursor.execute(alter_movies_table_query)
            result2 = cursor.fetchall()
            print("\nMovie Table Schema after alteration:")
            for row in result2:
                print(row)
            
            #cursor.execute(drop_ratings_table_query)
            
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('title', b'varchar(100)', 'YES', '', None, '')
('release_year', b'year', 'YES', '', None, '')
('genre', b'varchar(100)', 'YES', '', None, '')
('collection_in_mil', b'int', 'YES', '', None, '')

Movie Table Schema after alteration:

#### Inserting Records in Tables

In [21]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        
        use_database = """USE online_movie_rating"""
        
        insert_movies_query = """
            INSERT INTO movies (title, release_year, genre, collection_in_mil)
            VALUES
                ("Forrest Gump", 1994, "Drama", 330.2),
                ("3 Idiots", 2009, "Drama", 2.4),
                ("Eternal Sunshine of the Spotless Mind", 2004, "Drama", 34.5),
                ("Good Will Hunting", 1997, "Drama", 138.1),
                ("Skyfall", 2012, "Action", 304.6),
                ("Gladiator", 2000, "Action", 188.7),
                ("Black", 2005, "Drama", 3.0),
                ("Titanic", 1997, "Romance", 659.2),
                ("The Shawshank Redemption", 1994, "Drama",28.4),
                ("Udaan", 2010, "Drama", 1.5),
                ("Home Alone", 1990, "Comedy", 286.9),
                ("Casablanca", 1942, "Romance", 1.0),
                ("Avengers: Endgame", 2019, "Action", 858.8),
                ("Night of the Living Dead", 1968, "Horror", 2.5),
                ("The Godfather", 1972, "Crime", 135.6),
                ("Haider", 2014, "Action", 4.2),
                ("Inception", 2010, "Adventure", 293.7),
                ("Evil", 2003, "Horror", 1.3),
                ("Toy Story 4", 2019, "Animation", 434.9),
                ("Air Force One", 1997, "Drama", 138.1),
                ("The Dark Knight", 2008, "Action",535.4),
                ("Bhaag Milkha Bhaag", 2013, "Sport", 4.1),
                ("The Lion King", 1994, "Animation", 423.6),
                ("Pulp Fiction", 1994, "Crime", 108.8),
                ("Kai Po Che", 2013, "Sport", 6.0),
                ("Beasts of No Nation", 2015, "War", 1.4),
                ("Andadhun", 2018, "Thriller", 2.9),
                ("The Silence of the Lambs", 1991, "Crime", 68.2),
                ("Deadpool", 2016, "Action", 363.6),
                ("Drishyam", 2015, "Mystery", 3.0)
            """
        
        insert_reviewers_query = """
            INSERT INTO reviewers
            (first_name, last_name)
            VALUES ( %s, %s )
            """
        reviewers_records = [
            ("Chaitanya", "Baweja"),
            ("Mary", "Cooper"),
            ("John", "Wayne"),
            ("Thomas", "Stoneman"),
            ("Penny", "Hofstadter"),
            ("Mitchell", "Marsh"),
            ("Wyatt", "Skaggs"),
            ("Andre", "Veiga"),
            ("Sheldon", "Cooper"),
            ("Kimbra", "Masters"),
            ("Kat", "Dennings"),
            ("Bruce", "Wayne"),
            ("Domingo", "Cortes"),
            ("Rajesh", "Koothrappali"),
            ("Ben", "Glocker"),
            ("Mahinder", "Dhoni"),
            ("Akbar", "Khan"),
            ("Howard", "Wolowitz"),
            ("Pinkie", "Petit"),
            ("Gurkaran", "Singh"),
            ("Amy", "Farah Fowler"),
            ("Marlon", "Crafford"),
            ]
        
        
        insert_ratings_query = """
            INSERT INTO ratings
            (rating, movie_id, reviewer_id)
            VALUES ( %s, %s, %s)
            """
        ratings_records = [
            (6.4, 17, 5), (5.6, 19, 1), (6.3, 22, 14), (5.1, 21, 17),
            (5.0, 5, 5), (6.5, 21, 5), (8.5, 30, 13), (9.7, 6, 4),
            (8.5, 24, 12), (9.9, 14, 9), (8.7, 26, 14), (9.9, 6, 10),
            (5.1, 30, 6), (5.4, 18, 16), (6.2, 6, 20), (7.3, 21, 19),
            (8.1, 17, 18), (5.0, 7, 2), (9.8, 23, 3), (8.0, 22, 9),
            (8.5, 11, 13), (5.0, 5, 11), (5.7, 8, 2), (7.6, 25, 19),
            (5.2, 18, 15), (9.7, 13, 3), (5.8, 18, 8), (5.8, 30, 15),
            (8.4, 21, 18), (6.2, 23, 16), (7.0, 10, 18), (9.5, 30, 20),
            (8.9, 3, 19), (6.4, 12, 2), (7.8, 12, 22), (9.9, 15, 13),
            (7.5, 20, 17), (9.0, 25, 6), (8.5, 23, 2), (5.3, 30, 17),
            (6.4, 5, 10), (8.1, 5, 21), (5.7, 22, 1), (6.3, 28, 4),
            (9.8, 13, 1)
            ]
        
        
        with connection.cursor() as cursor:
            cursor.execute(use_database)
            cursor.execute(insert_movies_query)
            cursor.executemany(insert_reviewers_query, reviewers_records)
            cursor.executemany(insert_ratings_query, ratings_records)
            connection.commit()
            
except Error as e:
    print(e)

Enter username: root
Enter password: ········

#### Reading Records From the Database

In [24]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        
        use_database = """USE online_movie_rating"""
        select_movies_query1 = "SELECT * FROM movies LIMIT 5"
        select_movies_query2 = "SELECT title, release_year FROM movies LIMIT 5"
        
        with connection.cursor() as cursor:
            cursor.execute(use_database)
            cursor.execute(select_movies_query1)
            r1 = cursor.fetchall()
            for i in r1:
                print(i)
            print()
            
            cursor.execute(select_movies_query2)
            r2 = cursor.fetchall()
            for i in r2:
                print(i)
            print()
            
except Error as e:
    print(e)

Enter username: root
Enter password: ········
(1, 'Forrest Gump', 1994, 'Drama', Decimal('330.2'))
(2, '3 Idiots', 2009, 'Drama', Decimal('2.4'))
(3, 'Eternal Sunshine of the Spotless Mind', 2004, 'Drama', Decimal('34.5'))
(4, 'Good Will Hunting', 1997, 'Drama', Decimal('138.1'))
(5, 'Skyfall', 2012, 'Action', Decimal('304.6'))

('Forrest Gump', 1994)
('3 Idiots', 2009)
('Eternal Sunshine of the Spotless Mind', 2004)
('Good Will Hunting', 1997)
('Skyfall', 2012)

#### Filtering Results Using the WHERE Clause

In [27]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        
        use_database = """USE online_movie_rating"""
        
        select_movies_filter_query1 = """SELECT title, collection_in_mil
            FROM movies
            WHERE collection_in_mil > 300
            ORDER BY collection_in_mil DESC
            """
        
        select_movies_filter_query2 = """
            SELECT CONCAT(title, " (", release_year, ")"),
            collection_in_mil
            FROM movies
            ORDER BY collection_in_mil DESC
            LIMIT 5
            """
        
        select_movies_filter_query3 = """
            SELECT CONCAT(title, " (", release_year, ")"),
            collection_in_mil
            FROM movies
            ORDER BY collection_in_mil DESC
            """
        
        with connection.cursor() as cursor:
            cursor.execute(use_database)
            cursor.execute(select_movies_filter_query1)
            r1 = cursor.fetchall()
            for i in r1:
                print(i)
            print()
            
            cursor.execute(select_movies_filter_query2)
            r2 = cursor.fetchall()
            for i in r2:
                print(i)
            print()
            
            cursor.execute(select_movies_filter_query3)
            for i in cursor.fetchmany(size=5):
                print(i)
            cursor.fetchall()
            print()
            
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('Avengers: Endgame', Decimal('858.8'))
('Titanic', Decimal('659.2'))
('The Dark Knight', Decimal('535.4'))
('Toy Story 4', Decimal('434.9'))
('The Lion King', Decimal('423.6'))
('Deadpool', Decimal('363.6'))
('Forrest Gump', Decimal('330.2'))
('Skyfall', Decimal('304.6'))

('Avengers: Endgame (2019)', Decimal('858.8'))
('Titanic (1997)', Decimal('659.2'))
('The Dark Knight (2008)', Decimal('535.4'))
('Toy Story 4 (2019)', Decimal('434.9'))
('The Lion King (1994)', Decimal('423.6'))

('Avengers: Endgame (2019)', Decimal('858.8'))
('Titanic (1997)', Decimal('659.2'))
('The Dark Knight (2008)', Decimal('535.4'))
('Toy Story 4 (2019)', Decimal('434.9'))
('The Lion King (1994)', Decimal('423.6'))

#### Handling Multiple Tables Using the JOIN Statement

In [28]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        
        use_database = """USE online_movie_rating"""
        
        select_movies_join_query1 = """
            SELECT title, AVG(rating) as average_rating
            FROM ratings
            INNER JOIN movies
                ON movies.id = ratings.movie_id
            GROUP BY movie_id
            ORDER BY average_rating DESC
            LIMIT 5
            """
        
        select_movies_join_query2 = """
            SELECT CONCAT(first_name, " ", last_name), COUNT(*) as num
            FROM reviewers
            INNER JOIN ratings
                ON reviewers.id = ratings.reviewer_id
            GROUP BY reviewer_id
            ORDER BY num DESC
            LIMIT 1
            """
        
        with connection.cursor() as cursor:
            cursor.execute(use_database)
            cursor.execute(select_movies_join_query1)
            r1 = cursor.fetchall()
            for i in r1:
                print(i)
            print()
            
            cursor.execute(select_movies_join_query2)
            r2 = cursor.fetchall()
            for i in r2:
                print(i)
            print()
            
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('The Godfather', Decimal('9.90000'))
('Night of the Living Dead', Decimal('9.90000'))
('Avengers: Endgame', Decimal('9.75000'))
('Eternal Sunshine of the Spotless Mind', Decimal('8.90000'))
('Beasts of No Nation', Decimal('8.70000'))

('Mary Cooper', 4)

#### Updating and Deleting Records From the Database

In [30]:
movie_id = input("Enter movie id: ")
reviewer_id = input("Enter reviewer id: ")
new_rating = input("Enter new rating: ")
update_query = """
UPDATE
    ratings
SET
    rating = "%s"
WHERE
    movie_id = "%s" AND reviewer_id = "%s";

SELECT *
FROM ratings
WHERE
    movie_id = "%s" AND reviewer_id = "%s"
""" % (
    new_rating,
    movie_id,
    reviewer_id,
    movie_id,
    reviewer_id,
)

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="online_movie_rating",
    ) as connection:
        with connection.cursor() as cursor:
            for result in cursor.execute(update_query, multi=True):
                if result.with_rows:
                    print(result.fetchall())
            connection.commit()
except Error as e:
    print(e)

Enter movie id: 18
Enter reviewer id: 15
Enter new rating: 5
Enter username: root
Enter password: ········
[(18, 15, Decimal('5.0'))]

#### Delete Command

In [32]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        
        use_database = """USE online_movie_rating"""
        select_movies_query = """
            SELECT reviewer_id, movie_id FROM ratings
            WHERE reviewer_id = 2
            """
        delete_query = "DELETE FROM ratings WHERE reviewer_id = 2"
        
        with connection.cursor() as cursor:
            cursor.execute(use_database)
            cursor.execute(select_movies_query)
            r1 = cursor.fetchall()
            for i in r1:
                print(i)
            print()
            
            cursor.execute(delete_query)
            connection.commit()
            
except Error as e:
    print(e)

Enter username: root
Enter password: ········
(2, 7)
(2, 8)
(2, 12)
(2, 23)

## Thank You!